# IMPLEMENTATION OF DATA PREPROCESSING

# BML Assignment 1:

Name: M.Selvi

Dept:B.Tech(AI & DS)

Section:'A'-II year

Register No:21UAI077

In [1]:
#1.IMPORTING LIBRARIES
import numpy as np # numerical data
import pandas as pd #analyzing the data in dataframe and series

In [2]:
#2.iMPORTING DATASET
data=pd.read_csv("Stock.csv")
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,29-06-2010,19.000000,25.000000,17.540001,23.889999,23.889999,18766300.0
1,30-06-2010,25.790001,30.420000,23.299999,23.830000,23.830000,17187100.0
2,01-07-2010,25.000000,25.920000,20.270000,21.959999,21.959999,8218800.0
3,02-07-2010,23.000000,23.100000,18.709999,19.200001,19.200001,5139800.0
4,06-07-2010,20.000000,20.000000,15.830000,16.110001,16.110001,6866900.0
...,...,...,...,...,...,...,...
2411,28-01-2020,568.489990,576.809998,558.080017,566.900024,566.900024,11788500.0
2412,29-01-2020,575.690002,589.799988,567.429993,580.989990,580.989990,17801500.0
2413,30-01-2020,632.419983,650.880005,618.000000,640.809998,640.809998,29005700.0
2414,31-01-2020,640.000000,653.000000,632.520020,650.570007,650.570007,15719300.0
2415,03-02-2020,673.690002,786.140015,673.520020,780.000000,780.000000,47065000.0

In [3]:
data.shape

(2416, 7)

In [4]:
#SEPARATE INDEPENDENT VALUES
x=data[['Date','Open','High','Low','Close','Adj Close']].values#data.iloc[:,:-1].values
x

array([['29-06-2010', 19.0, 25.0, 17.540001, 23.889999, 23.889999],
       ['30-06-2010', 25.790001, 30.42, 23.299999, 23.83, 23.83],
       ['01-07-2010', 25.0, 25.92, 20.27, 21.959999, 21.959999],
       ...,
       ['30-01-2020', 632.419983, 650.880005, 618.0, 640.809998,
        640.809998],
       ['31-01-2020', 640.0, 653.0, 632.52002, 650.570007, 650.570007],
       ['03-02-2020', 673.690002, 786.140015, 673.52002, 780.0, 780.0]],
      dtype=object)

In [5]:
#DEPENDENT VALUES
y=data[['Volume']].values
y

array([[18766300.],
       [17187100.],
       [ 8218800.],
       ...,
       [29005700.],
       [15719300.],
       [47065000.]])

In [6]:
#Finding missing values
#Find and count the missing values in our dataset
print(data.isnull().sum())

Date          0
Open          4
High          6
Low          13
Close         5
Adj Close     8
Volume        8
dtype: int64

In [7]:
#drop missing value records- remaining rows are kept as its place
data.dropna(inplace=True)

In [8]:
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,29-06-2010,19.000000,25.000000,17.540001,23.889999,23.889999,18766300.0
1,30-06-2010,25.790001,30.420000,23.299999,23.830000,23.830000,17187100.0
2,01-07-2010,25.000000,25.920000,20.270000,21.959999,21.959999,8218800.0
3,02-07-2010,23.000000,23.100000,18.709999,19.200001,19.200001,5139800.0
4,06-07-2010,20.000000,20.000000,15.830000,16.110001,16.110001,6866900.0
...,...,...,...,...,...,...,...
2411,28-01-2020,568.489990,576.809998,558.080017,566.900024,566.900024,11788500.0
2412,29-01-2020,575.690002,589.799988,567.429993,580.989990,580.989990,17801500.0
2413,30-01-2020,632.419983,650.880005,618.000000,640.809998,640.809998,29005700.0
2414,31-01-2020,640.000000,653.000000,632.520020,650.570007,650.570007,15719300.0
2415,03-02-2020,673.690002,786.140015,673.520020,780.000000,780.000000,47065000.0

In [9]:
#simple imputer-filled missing values in numerical
from sklearn.impute import SimpleImputer

In [10]:
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')

In [11]:
# Fit- we split our data into training and testing adjusts weights according to data values for better accuracy
imputer=imputer.fit(x[:,1:3])

In [12]:
#transform calculate the mean value
x[:,1:3]=imputer.transform(x[:,1:3])
x

array([['29-06-2010', 19.0, 25.0, 17.540001, 23.889999, 23.889999],
       ['30-06-2010', 25.790001, 30.42, 23.299999, 23.83, 23.83],
       ['01-07-2010', 25.0, 25.92, 20.27, 21.959999, 21.959999],
       ...,
       ['30-01-2020', 632.419983, 650.880005, 618.0, 640.809998,
        640.809998],
       ['31-01-2020', 640.0, 653.0, 632.52002, 650.570007, 650.570007],
       ['03-02-2020', 673.690002, 786.140015, 673.52002, 780.0, 780.0]],
      dtype=object)

In [13]:
#4.ENCODING CATEGORICAL VALUES Label encoder- each unique values it gives an index like 1,2,3
#One hot encoder- take an each index value to add one feature
from sklearn.preprocessing import LabelEncoder

In [14]:
label_encode_x=LabelEncoder()
label_encode_y=LabelEncoder()

In [15]:
x[:,0]=label_encode_x.fit_transform(x[:,0])
x

array([[2246, 19.0, 25.0, 17.540001, 23.889999, 23.889999],
       [2319, 25.790001, 30.42, 23.299999, 23.83, 23.83],
       [33, 25.0, 25.92, 20.27, 21.959999, 21.959999],
       ...,
       [2301, 632.419983, 650.880005, 618.0, 640.809998, 640.809998],
       [2374, 640.0, 653.0, 632.52002, 650.570007, 650.570007],
       [166, 673.690002, 786.140015, 673.52002, 780.0, 780.0]],
      dtype=object)

In [19]:
label_encode_x.classes_

array(['01-02-2011', '01-02-2012', '01-02-2013', ..., '31-12-2015',
       '31-12-2018', '31-12-2019'], dtype=object)

In [20]:
y=label_encode_y.fit_transform(y)
y

C:\Users\selvi Murugan\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2313, 2290, 1911, ..., 2371, 2275, 2382], dtype=int64)

In [21]:
#SPLITTING DATASET INTO TRAINING AND TESTING
from sklearn.model_selection import train_test_split

In [22]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=1)

In [23]:
print(x_train)
print(x_test)
print(y_train)
print(y_test)

[[42 135.0 136.520004 132.630005 135.550003 135.550003]
 [1312 217.809998 219.990005 214.5 215.470001 215.470001]
 [569 260.5 260.820007 248.020004 250.070007 250.070007]
 ...
 [292 240.490005 242.350006 236.529999 238.929993 238.929993]
 [185 29.950001 31.5 29.5 30.129999 30.129999]
 [1252 255.149994 262.459991 252.419998 260.73999 260.73999]]
[[756 29.309999 29.940001 29.309999 29.940001 29.940001]
 [1446 241.389999 241.550003 233.509995 235.839996 235.839996]
 [928 364.48999 368.76001 360.399994 362.75 362.75]
 ...
 [1365 172.419998 172.949997 164.770004 166.770004 166.770004]
 [907 222.949997 223.380005 209.0 209.259995 209.259995]
 [2339 229.149994 232.440002 224.210007 225.610001 225.610001]]
[1373  814 1787 ...  949 1576 1922]
[ 164 1314 1528  226 1909 2257 1240 1014 1854 2348 1943   91 1604  222
 1281 1615  128  383 2333  265 1755 1457  373  132 1834 1963  785  140
 1952   86   69 1307 2200  819 1126 2339  812 1924 1451  342  883 1513
 2194  418 1689  444  388  602  983  598 1785  827 2006  633 1691  778
  601  592  872   83 1863 1094 1953  355 1731 1232  136 1888  523 1766
  844  268 2286 1166 1032 2332 1574 1544   66  864  775 1527 1503  549
  789 2353  430  212 1098 2298  817 2163 1751  624  407 1049 1892 2138
 1617 1341 1792  868  965  639 1657 1640 1707 1918  649  447 1226  820
 1906 2380 1435  421 2125 1558 1700 1490   30 2087  394  126 2243  414
 1051  839  278  635  875 2110  566 1590 1729  694  923   46  888  677
 2146  938  835    2 1504  436 1893 1557  219 1230  209  836  437  640
 1482  365 2210 1706  829 1496 1378 1277 1940 1710 1807 1018 1042 1147
 1905 1994 1062  548 1636  288  214  698  371 2003 1447  229 1611 1770
  133  831 1321  486  487 1322 2128 1662 2299 1898  948 2176 2022 1289
 2181  738 1191 1992 1353 1858  582  255 1074 1022  802 2219 2148 2234
 2366  730  482 2233 2304  122  376 2362 1982 1639 1857 2335  725 1046
 2223  379 1507 1516  921 1151  593 1440 1102 2382 2065 2096  393  157
  946  539  179 1884 1959 1155 1538 1505 1023 1602 1815 1054 1901 1954
 2195 1139  480 1170 1287  104 2251 1200 1939  405 1262 2336 1811 2157
  189  110 1021 2288 1652 2077  254 1573 1497 2222 2052 2158 1679  885
  453 2331 2173 2048 1971 2264 1312 2273   57 1968 1990  334 1276  519
  158 2383 1058  759  244   92 1764 1364 2020   15 1442 1266 1960 1253
  952 1029  302 1088  243 1308 2093  529 1936  758 1536 1742  496  745
 1119  850 1629 2160  499  837 2300 2143 2350  676  551 1688 1684  194
  858  271  236  887  920 1121 2021 2118  632 2120 1001 2275 2024 1472
 1413 1823 1291  659 1916 1408 1008 1377  630  769 1213  489  703  684
 1605 1405  521 1562  528 1709 2226  313 2376 1567 1444 1083 1983 1159
  442 1995  460  646 1685 2151 2101 2358  556 2135 2206 1455  369 2371
 2177 1228 1988  512  558 2213 1747  838 1288  522  319 1763  230  251
  967  567 1745 2188 1748  550  655 1616  314  518   53 1391 2088  233
  287  908  346  893  788 2261 1464  803 1945 1949 1580  537  303  981
 1100 1227  587 2075 2227  936  731 1829 2134 2345 2085 2175 2011  509
  294  569 1208  186   77  360  705  682  737  680 1537 1717 1409 1316
  151 2379 1708  623   13  417 1190  476  348 1333  911 1869 2290  210
 2375  951 2349 1025  554 1258  917  828   64  147  477 1255 1915  520
 1310  440 1067  919 1224   51 1206 1163 1647 1397 1350  264 1856 1084
 2178  410 1931  673 1061 1690 2149  749  661 1175 1889 2081 2187 1480
 1157 1406 1591  237 1667 2100 1877 2237  404 2097  279  336  473 1330
  562  704 1243 1719 1549 1400   94 1081 1883 1412  331  847 1669  345
  252 1439 1874 1864 1833  207  540 2224 1096  863 1055  175 2182 1209
 1890  604  367  451 2252  826 1063  958 1453 2090  768  419  833 1847
  505  824 1192  895 2218 1130  927  961  636  729 1250  392  174 1459
  683 1610 2046 1422 1633 1501 1825 2250 2321  144 1340 2060 2193 1007
 2270 2025]

In [24]:
#6.FEATURE SCALING
from sklearn.preprocessing import StandardScaler

In [25]:
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.fit_transform(x_test)
print(x_train)
print(x_test)

[[-1.67458618 -0.43190346 -0.44104486 -0.43339256 -0.42857201 -0.4305035 ]
 [ 0.14730613  0.27027887  0.25728995  0.27108327  0.24958074  0.24630713]
 [-0.9185726   0.63226614  0.59888588  0.55951657  0.54317546  0.5393208 ]
 ...
 [-1.31594596  0.46259261  0.44436036  0.46064725  0.44864804  0.44498046]
 [-1.46944397 -1.32266853 -1.3196734  -1.32080676 -1.32310239 -1.32326352]
 [ 0.06123247  0.58690109  0.61260647  0.59737768  0.63371448  0.62968063]]
[[-0.63858959 -1.3145429  -1.30810361 -1.30839941 -1.29635215 -1.29590786]
 [ 0.34924923  0.44320781  0.40647138  0.41249486  0.39384962  0.39201032]
 [-0.39234571  1.46347893  1.43719344  1.48185958  1.43563456  1.43238772]
 ...
 [ 0.23328555 -0.12842586 -0.14936177 -0.16681101 -0.17313545 -0.17420871]
 [-0.42241037  0.29037432  0.25924855  0.20593702  0.17565843  0.17411392]
 [ 1.6277131   0.34176082  0.33265738  0.33411926  0.30987315  0.3081473 ]]